.body{
    text-align: center;
    background-image: url(./newfile/imagen/touch.png);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: center;
    background-size: cover;  
    height: 40%;
    width: 30%;
    min-height: 100vh;
}
.main{
    background-color: hsla(350, 35%, 30%, 0.4);
    border-radius: 120px;
    text-align: center;
    align-items: center;
    margin-top: 10px;
.header{
    background-color: rgb(221, 33, 221);
    border-radius: 50px;
    width: 5px;
    height: 10px;
    
    gap: 2rem;
    padding: 3rem;
    text-align: center;
    }
.imagen {
    border-radius: 60px;
    height: 180px;
    width: 180px;
    border-color: coral;
    margin-top: 60%;
    }

.titulo,.subtitulo{
    color: black;
    margin: 80px;
    margin: 20%;
    text-shadow: 20%;
    flex-direction: column; 
    
}  
.footer{
    margin-top: 10px;
}
 .footer img{
    border:solid 3px;
    width: 150px;
    margin: 10px;
 }  
.footer img:hover{
    transform: scale(1.3);
    transition: all 0.5s ease;
    border: solid red 2px;
}